{% extends "base.html" %}
{% block singin %}
<h1>Logowanie</h1>

{% if invalid_form %}
<div class="alert alert-danger">{{ invalid_form }}</div>
{% endif %}

<form class="" method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control {% if invalid_form %} {% endif %}" id="singupemail" placeholder="Email" name="email" value="{{ fields.email}}">

  <div class="form-group">
     <label for="exampleInputPassword1">Hasło</label>
     <input type="password" class="form-control" id="singuppassword" placeholder="Haslo" name="password" value="{{ fields.password }}">
  </div>
  <button type="submit" class="btn btn-default" value="Zapisz">Zarejestruj się jako sprzedawca</button>
</form>

{% endblock %}



