body {
background-color: #ECEFF1;
width: 100%;
position: relative;
}

header{
	
	
	
}
aside{
}



.nawigation{
	text-align: center;
	background-color: #0098DA  ;
	width:100%;
	height: 50px;
	position: fixed;
	top: 0px;
	margin:0px;
	z-index:10;
}
.button_m{
	background-color: blue;
	width: 180px;

}

.search_m{
	width: 280px;
}



.main_m{

	position: relative;
	margin-top: 60px;
	margin-bottom: 10px;
	margin-left:5%;
	margin-right: 5%;
	padding: 0px;
}

.categories{

	padding:0px;
}

.categories_wew{
	background-color: #FFFFFF;
	height:400px;
	width:99%;	
	float:right;
	padding:0px;
	margin-top: 20px;
	border-radius: 10px;


	
}
.product_list{
	padding:0px;

}
.product_list_wew{
	margin-top: 20px;
	margin-left: 20px;
	background-color: #FFFFFF;
	width:99%;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 100%;
	border-radius: 10px;
}
.product_photo{
	height: 200px;
}
.kolumna{
	border-style: groove;
	border-width: thin;
	border-radius: 2px;
	height: 100%;
}


.product{
	background-color: #ECEFF1;
	margin:20px;
	height: 100px;


}


.footer_m{
	position:fixed;
	bottom: 0%;
	background-color:#0098DA ;
	text-align: center;
	width:100%;
	height:50px;
	margin:0px;
}


.seller_map{
	background-color: blue;
	position: fixed;
	right: 1px;
	top: 100px;
	margin:0px;
	width:200px;
	height: 200px;

}
