{% load static %}
<!DOCTYPE html>
<html lang="pl">


<head>
     <meta charset="UTF-8">
     <title>Strona główna AllegroAS</title>
     <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" >

     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{#     <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>#}
     <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
{#     <script src="{% static 'assets/js/app.js' %}"></script>#}


</head>
<body>
<header >

    <nav class="row nawigation" >
		<div class="col-md-2"><a href="{% url 'product_list' %}"> Logo</a></div>
		<div class="col-md-4 search_m"><input class="search_m" type="text" alt="wyszukiwatka"> </div>
		<div class="col-md-2 "><input class="button_m" type="button" alt="Przycisk"> </div>

		<div class="col-md-2">jeszcze nie wiem co</div>
		<div class="col-md-2">Logowanie</div>
	
	
	</nav>

</header>


<main class="row main_m">
            {% block kategorie %} {% endblock %}
    		{% block produkty %} {% endblock %}
            {% block productdetails %} {% endblock %}
</main>

<aside class=" seller_map">

    <div class="">Tu będzie m</div>

</aside>

<footer class=" row footer_m">

    <div class="col-md-12">Tu będzie stopka</div>

</footer>


</body>
</html>