<!DOCTYPE html>
{% load static %}

<html lang="pl">


<head>
     <meta charset="UTF-8">
     <title>AllegroAS</title>
     <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" >
    
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
     <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
     <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'assets/js/script.js' %}"></script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" type="text/javascript"></script>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>


<main class="row main_m">
            {% block kategorie %} {% endblock %}
    		{% block produkty %} {% endblock %}
            {% block productdetails %} {% endblock %}
            {% block singup %} {% endblock %}
            {% block submit_singup %}{% endblock %}
            {% block singin %}{% endblock %}
            {% block seller_menu %}{% endblock %}
            {% block seller_products %}{% endblock %}




                                                                       
</main>

<aside class=" seller_map">

    <div class="">Tu będzie m</div>

</aside>

<footer class=" row footer_m">

    <div class="col-md-12">Tu będzie stopka</div>
    
</footer>


</body>
</html>